In [108]:
from bs4 import BeautifulSoup
from splinter import Browser
from selenium import webdriver
import requests
import pandas as pd

In [104]:
executable_path ={'executable_path':r'C:\Users\sunandan\Downloads\chromedriver_win32\chromedriver.exe'}
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)
Soup = BeautifulSoup(response.text,'lxml')

In [3]:
Title_Results = Soup.find_all('div',class_="content_title")

In [4]:
Title_list=[]
for result in Title_Results:
    Title_list.append(result.text.strip())
Title_list

["NASA Readies Perseverance Mars Rover's Earthly Twin",
 'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities',
 "The Launch Is Approaching for NASA's Next Mars Rover, Perseverance",
 'NASA to Hold Mars 2020 Perseverance Rover Launch Briefing',
 "Alabama High School Student Names NASA's Mars Helicopter",
 "Mars Helicopter Attached to NASA's Perseverance Rover"]

In [5]:
new_title = Title_list[0]
new_title

"NASA Readies Perseverance Mars Rover's Earthly Twin"

In [6]:
Paragraphs_Results = Soup.find_all('div',class_="rollover_description_inner")

In [7]:
Paragraphs_List = []
for result in Paragraphs_Results:
    Paragraphs_List.append(result.text.strip())

In [8]:
new_p = Paragraphs_List[0]
new_p

"Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."

#### Using splinter

In [11]:
options = webdriver.ChromeOptions()

In [12]:
options.add_argument("--start-maximized")

In [42]:
options.add_argument("--disable-notifications")

In [89]:
browser = Browser('chrome',**executable_path,headless=False,options=options)

In [90]:
browser.visit('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

In [91]:
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24085_hires.jpg"

In [92]:
image = browser.find_by_id("full_image").first.click()

In [95]:
find_image=browser.find_by_css('div[class="fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open"] img')
for i in find_image:
    featured_image_url =i["src"]
    print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17044_ip.jpg

#### Using Selenium

In [146]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument("--test-type")
# options.binary_location = "/usr/bin/chromium"
driver = webdriver.Chrome(options=options)

driver.get('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')
full_image = driver.find_element_by_id("full_image").click()

In [86]:
featured_image_url = driver.find_element_by_class_name('fancybox-image').get_attribute('src')

In [87]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18897_ip.jpg'

### Mars Facts

###### we use pandas.read_html to get all the tables inside the webpage.
###### What we get in return is a list of dataframes for any tabular data that Pandas found

In [129]:
Table = pd.read_html("https://space-facts.com/mars/")

In [130]:
Table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [131]:
Mars_df = Table[0]

In [132]:
Mars_df.columns = ['Attribute','value']

In [141]:
Mars_df

              Attribute                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [142]:
Mars_df

              Attribute                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [143]:
Mars_df

              Attribute                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [144]:
Mars_df.to_html("Table.html")

### Mars Hemispheres

In [196]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument("--test-type")
# options.binary_location = "/usr/bin/chromium"
driver = webdriver.Chrome(options=options)

driver.get(url)
# full_image = driver.find_element_by_id("full_image").click()

In [188]:
full_image = driver.find_element_by_tag_name('h3').click()

In [195]:
full_second_image = driver.find_element_by_class_name('description').find_element_by_xpath('//*[@id="product-section"]/div[2]/div[2]/div/a').find_element_by_tag_name('h3').click()

In [197]:
full_Third_image = driver.find_element_by_class_name('description').find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[2]/div/a/h3").click()

In [276]:
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
options.add_argument("--disable-notifications")
browser = Browser('chrome',**executable_path,headless=False,options=options)
browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")

In [279]:
full_image_1 = browser.find_by_tag('h3')[0].click()
button = browser.find_by_id("wide-image-toggle").click()
find_image=browser.find_by_css('div[id ="wide-image"] img')
for i in find_image:
    featured_image_url =i["src"]
    print(featured_image_url)
type(featured_image_url)

https://astrogeology.usgs.gov/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png
https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

str

In [281]:
full_image_1 = browser.find_by_tag('h3')[0].click()
button = browser.find_by_id("wide-image-toggle").click()
find_image=browser.find_by_css('img[class ="wide-image"]')
for i in find_image:
    print(i["src"])

https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

In [282]:
browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
full_image_2 = browser.find_by_tag('h3')[1].click()
button1 = browser.find_by_id("wide-image-toggle").click()
find_image=browser.find_by_css('img[class ="wide-image"]')
for i in find_image:
    print(i["src"])

https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

In [284]:
browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
full_image_3 = browser.find_by_tag('h3')[2].click()
find_image=browser.find_by_css('img[class ="wide-image"]')
for i in find_image:
    print(i["src"])

https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

In [285]:
browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
full_image_4 = browser.find_by_tag('h3')[3].click()
find_image=browser.find_by_css('img[class ="wide-image"]')
for i in find_image:
    print(i["src"])

https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [326]:
# Hemisphere_dict = {}
Hemisphere_list= []
for i in range(0,4,1):
    browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
    full_image = browser.find_by_tag('h3')[i].click()
    find_image=browser.find_by_css('img[class ="wide-image"]')
    find_title=browser.find_by_css('section[class="block metadata"]').find_by_tag('h2').text
    for i in find_image:
        Hemisphere_dict = {}
        image_url = i["src"]
        Hemisphere_dict["title"] = find_title
        Hemisphere_dict["img_url"] = image_url
        Hemisphere_list.append( Hemisphere_dict)

In [327]:
Hemisphere_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]